<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VapeShop</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    {% block content %}{% endblock %}

    <div class="bottom">
      <a href="/messagers"><span class="material-icons md-48">chat_bubble</span></a>
      <a href="/login"><span class="material-icons md-48">home</span></a>
      <a href="/news"><span class="material-icons md-48">list_alt</span></a>
      <a href="/shop"><span class="material-icons md-48">shopping_cart</span></a>
    </div>
  </body>
</html>
