{% extends "basic.html" %}
{% block content %}
<div class="contents">

  {% for quer in querries %}
    <div class="content Chome">
      <img src="https://sun2.beltelecom-by-minsk.userapi.com/s/v1/ig2/o9ijSpAbZJki0Vm8DoHAxa2yZxLQhI6iyRVHOU4KhfJhkJ7l7eZuLP7ejaed3fvb6GKDx30GRj_dFP3nsBM9O96L.jpg?size=200x200&quality=96&crop=172,89,665,665&ava=1" alt="">
      <div style="width:100%;">
        <h3>{{quer.user_id.fio}}</h3>
        <h3>{{quer.liquid_id.name}}</h3>
      </div>
      <span onclick="popupM('{{quer.user_id.fio}}','{{quer.liquid_id.name}}','{{quer.liquid_id.salt}}','{{quer.liquid_id.count}}','{{quer.liquid_id.cost}}', '{{quer.id}}')" class="material-icons md-48">flag</span>
    </div>
  {% endfor %}
</div>
<div id="popup" class="popup Clogin" style="display: none;">
  <div class="content Clogin zUp">
    <span id="cancel" class="material-icons md-48">cancel</span>
    <h3 id="fio"></h3><br>
    <h3 id="name"></h3>
    <h3 id="salt"></h3>
    <h3 id="count">count</h3>
    <h3 id="price">price</h3>
    <a id="accept" href="#">Принять</a>
    <a id="cancle" href="#">Отклонить</a>
  </div>
</div>
<script src="/static/js/querryes.js" charset="utf-8"></script>
{% endblock %}
